.login-page-container{
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
}


.login-page-container *
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: Georgia, serif;
}

body{
	 background-image: url('https://www.rnp.ma/o/registry-services-theme/images/redfl.jpg');
}


.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 7px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: white;
    color: #018043;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

section span:hover 
{
  background: white;
  transition: 0s;
}

section .signin
{
  position: absolute;
  width: 400px;
  height: 400px;
  background: #018043;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
  margin-left: 380px;
  margin-top:60px;
}
section .signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .signin .content h3 
{
  font-size: 1,5em;
  color: white;
  text-transform: uppercase;
}
section .signin .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .signin .content .form .inputBox
{
  position: relative;
  width: 100%;
}
section .signin .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: white;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color:black;
  font-weight: 500;
  font-size: 1em;
}
section .signin .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: black;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.signin .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a 
{
  color: black;
  text-decoration: none;
}


.signin .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: white;
  color: #018043;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.6;
}
.login-page-container ul{
  margin-left: 100px;
}
.login-page-container img{
  margin-left: 50px;
}
.login-page-container h2{
  margin-left: -70%;
  margin-top: 30px;
}

